* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {
  vertical-align: middle;
  width:100vw; 
  min-height: 100vh;
}

/* Slideshow container */
.slideshow-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: auto;
  background-size: cover;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.menu-indices{
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top:-12vh;
}

/* The dots/bullets/indicators */
.indice{
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.visivel {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
