html {
  height: 100%;
  overflow: hidden;
  perspective: 1px;
}

body { 
  margin:0;
  padding:0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Verdana;
}

header{
  /*background-color: #50fa64;*/
  border-bottom: 1px solid black;
  min-height: 12.5%;
  width: 100vw;
  position: fixed;
  top: 0;
  padding-top: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  z-index: 1000;
  
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  transition: .3s;
  color: white; 
}

.logo{
  margin-top: -12px;
  margin-left: 15px;
  float: left;
}

.nome{
  width: 200px;
  float: left;
  margin-top: -5px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
}
.sobre{
    float: left;
    margin-left: 450px;
    margin-right: 20px; 
    padding: 0px 15px 0px 15px;
    border-right: 1px solid rgba(0, 0, 0, .7);
    border-left: 1px solid rgba(0, 0, 0, .7);
}

.texto {
  text-align: center;
  font-size: 250%;
  padding-top: 50vh; 
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

.section {
  position: relative;
  padding: 13% 10%;
  min-height: 100%;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 5px 1px rgba(0, 0, 0, .7), 0 -5px 1px rgba(0, 0, 0, .7);
  background: 50% 50% / cover;
}

.primeira {
  background-color: darkorange;
}

.segunda {
  background-image: url(../imgs/escritorio2.jpg);
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}


@media only screen and (max-device-width: 1366px) {
    .slide {
        background-attachment: scroll;
    }
}
