html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 1px;
  font-family: Verdana;
}

.texto {
  text-align: center;
  font-size: 250%;
  padding-top: 50vh; 
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

.section {
  position: relative;
  padding: 13% 10%;
  min-height: 100%;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 5px 1px rgba(0, 0, 0, .7), 0 -5px 1px rgba(0, 0, 0, .7);
  background: 50% 50% / cover;
}

.primeira {
  background-color: darkorange;
}

.segunda {
  background-image: url(../imgs/escritorio2.jpg);
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}


@media only screen and (max-device-width: 1366px) {
    .slide {
        background-attachment: scroll;
    }
}
